
{{#each article}}
{{#unless saved}}
<div class="col s12 m6" id="articles">
    <div class="card blue-grey darken-1">
        <div class="card-content white-text">
            <span class="card-title">{{title}}</span>
            <p>{{summary}}</p>
        </div>
        <div class="card-action">
            <a href={{link}} target="blank">{{link}}</a>

        </div>
    </div>
    {{/unless}}
    {{/each}}
        {{else}}
        <div class="panel panel-default">
            <div class="panel-body">
            <h4>Uh Oh. Looks like we don't have any new articles.</h4>
            </div>
         </div>
        {{/else}}
</div>