<div class="modal  modalNote" id="noteModal{{this._id}}" role="dialog">
    <div class="modal-header blue-grey darken-1 white-text">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Notes for: {{this.title}}</h4>
    </div>
    <div class="modal-content">
        {{#if this.note}}
        {{#each this.note}}
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <p class="previousNotes"> {{this.body}}</p>
                <button type="button" class="waves-effect waves-light btn deleteNote" data-note-id={{this._id}}>Delete
                    Note</button>
            </div>
        </div>
        {{/each}}
        {{else}}
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <h4>No notes for this article yet.</h4>
            </div>
        </div>
        {{/if}}
        <form class="col s12">
            <textarea id="noteText{{this.id}}" class="materialize-textarea" placeholder="New Note"></textarea>
            <label for="textarea1">Notes</label>
        </form>
    </div>
    <div class="modal-footer">
        <button class="waves-effect waves-light btn" id="saveNote" data-id={{this.id}}>Save Note</button>
    </div>

</div>