<div class="modal  modalNote{{this._id}}">
    <div class="modal-header blue-grey darken-1 white-text">
        <h4 class="modal-title">Notes for: {{this.title}}</h4>
    </div>
    <div class="modal-content">
        {{#if this.note}}
        {{!-- {{#each this.note}} --}}
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <p class="previousNotes"> {{this.note}}</p>
                <button type="button" class="waves-effect waves-light btn deleteNote" data-note-id={{this._id}} data-article-id={{this.article}}>Delete
                    Note</button>
            </div>
        </div>
        {{!-- {{/each}} --}}
        {{else}}
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <h4>No notes for this article yet.</h4>
            </div>
        </div>
        {{/if}}
        <form class="col s12">
            <textarea id="noteText{{this.id}}" class="materialize-textarea" placeholder="New Note"></textarea>
            <label for="textarea1">Notes</label>
        </form>
    </div>
    <div class="modal-footer">
        <button class="waves-effect waves-light btn saveNote" data-id={{this.id}}>Save Note</button>
        <a href="/saved" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>

</div>